<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Test Project</title>

    <link rel="stylesheet" href="/css/custom.css" charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/MainController.js"></script>
</head>

<body>
    <ul class="navigation">
        <div class="nav-header">
            <p>Main</p>
        </div>
        <li class="nav-item"><a href="#">Overview</a></li>
    </ul>
    <div class="main-container" ng-controller="MainController">

        <div class="items-container" >
            <div class="in-items-container">
                <p id="title">Items</p>
                <form role="form" ng-submit="addRow()">
                    <input type="text" class="addItem-input" name="addItem" placeholder="Type name here..." ng-model="name">
                    <!-- onfocus="this.value=''"-->
                    <a href="#" class="add-button" ng-click="addRow()">
                        <p>Add new</p>
                    </a>
                </form>
                <table class="item-list">
                    <tbody>
                        <tr>
                            <th class="table-text"></th>
                            <th class="table-button"></th>
                        </tr>
                        <tr ng-repeat="rowContent in rows track by $index" class="list">
                            <td>{{rowContent.name}}
                                <div class="numOfComments">{{comment.length}}</div>
                                <!-- for every item - itself number of comments!! -->
                            </td>
                            <td>
                                <input type="button" class="remove-button" value="Delete" ng-click="removeRow($index)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="comments-container">
            <div class="in-comments-container">
                <p id="title" class="comnt">Comments #{{comment.length}}</p>
                <form id='comment-form' ng-submit="addComment()">
                    <table class="comnt-list">
                        <tbody>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="comnt in comment" class="full-comment">
                                <td class="photo-cell">
                                    <div id="photo" style="background:{{comnt.photo}}"></div>
                                </td>
                                <td id="ready-comment">{{comnt.text }}</td>
                            </tr>
                            <tr>


                                <td>
                                    <div id="photo"></div>
                                </td>
                                <td ng-model="txtcomment">
                                    <input type="text" id="message-place" ng-model="txtcomment" placeholder="">
                                    <!-- <textarea id="message-place" ng-model="txtcomment" placeholder=""></textarea> -->
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
</body>

</html>
