<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>AddItem-CommentIt</title>

    <link rel="stylesheet" href="/css/custom.css" charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/MainController.js"></script>
    <script src="/js/directive.js"></script>
</head>

<body>
    <ul class="navigation">
        <div class="nav-header">
            <p>Main</p>
        </div>
        <li class="nav-item"><a href="#">Overview</a></li>
    </ul>
    <div class="main-container" ng-controller="MainController">
        <div class="items-container">
            <div class="in-items-container">
                <p id="title">Items</p>
                <form ng-submit="addRow(name)" id="form1">
                    <input type="text" class="addItem-input" name="addItem" placeholder="Type name here..." ng-model="row.name">
                    <a href="#" class="add-button" ng-click="addRow(name)">
                        <p>Add new</p>
                    </a>
                </form>
                <table class="item-list">
                    <tbody>
                        <tr>
                            <th class="table-text"></th>
                            <th class="table-button"></th>
                        </tr>
                        <tr class="list" ng-class="{ 'active-row': $index == rowIndex}" ng-repeat="row in rows track by $index" ng-click="onComments($index)">
                            <td class="rowText">{{row.name}}
                                <div class="numOfComments">{{0+row.comments.length}}</div>
                            </td>
                            <td>
                                <input type="button" class="remove-button" value="Delete" ng-click="removeRow($index)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="comments-container">
            <div class="in-comments-container">
                <p id="title" class="comnt">Comments <span ng-if="rowIndex!==undefined"> #{{rowIndex+1}}</p>
              <form id='comment-form'>
                  <table class="comnt-list">
                      <tbody>
                          <tr>
                              <th></th>
                              <th></th>
                          </tr>
                          <tr ng-repeat="comment in currentRow.comments track by $index" class="full-comment">
                              <td class="photo-cell">
                                  <div id="photo"></div>
                              </td>
                              <td id="ready-comment">{{comment}}</td>
                          </tr>
                          <tr>
                              <td>
                                  <div id="photo"></div>
                              </td>
                              <td>
                                  <textarea id="message-place" ng-model="txtcomment" ng-enter="addComment()" placeholder=""></textarea>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </form>
        </div>
    </div>
</body>
</html>
