<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Test Project</title>

    <link rel="stylesheet" href="/css/custom.css" charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/ItemController.js"></script>
    <script src="/js/CommentController.js"></script>
</head>

<body>
    <ul class="navigation">
        <div class="nav-header">
            <p>Main</p>
        </div>
        <li class="nav-item"><a href="#">Overview</a></li>
    </ul>
    <div class="main-container">

        <div class="items-container" ng-controller="ItemController">
            <div class="in-items-container">
                <p id="title">Items</p>
                <form role="form" ng-submit="addRow()">
                    <input type="text" class="addItem-input" name="addItem" ng-model="name">
                    <!-- onfocus="this.value=''"-->
                    <a href="#" class="add-button" ng-click="addRow()">
                        <p>Add new</p>
                    </a>
                </form>
                <table class="item-list">
                    <tbody>
                        <tr>
                            <th class="table-text"></th>
                            <th class="table-button"></th>
                        </tr>
                        <tr ng-repeat="rowContent in rows" class="list">
                            <td>{{rowContent.name}}
                                <div class="numOfComments" ng-controller="CommentController">{{comment.length}}</div>
                                <!-- for every item - itself number of comments!! -->
                            </td>
                            <td>
                                <input type="button" class="remove-button" value="Delete" ng-click="removeRow($index)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="comments-container" ng-controller="CommentController">
            <div class="in-comments-container">
                <p id="title" class="comnt">Comments #{{comment.length}}</p>
                <form id='comment-form' ng-submit="addComment()">
                    <ul>
                        <li ng-repeat="comnt in comment" class="full-comment">
                            <div id="photo"></div>
                            <div id="ready-comment">{{comnt.text }}</div>
                        </li>
                    </ul>
                    <div id="photo"></div>
                    <input type="text" id="message-place" ng-model="txtcomment" placeholder="">
                </form>
            </div>
        </div>

    </div>
</body>

</html>
